# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.p2
/.p2
/.p3
/.p3
/.p4
/.p4
/.p5
/.p5
/.p6
/.p6
/.p7
/.p7
/.p8
/.p8
/.p9
/.p9
/.pa
/.pa
/.pb
/.pb
/.pc
/.pc
/.pd
/.pd
/.pe
/.pe
/.pf
/.pf
/.pg
/.pg
/.ph
/.ph
/.pi
/.pi
/.pj
/.pj
/.pk
/.pk
/.pl
/.pl
/.pm
/.pm
/.pn
/.pn
/.po
/.po
/.pp
/.pp
/.pq
/.pq
/.pr
/.pr
/.ps
/.ps
/.pt
/.pt
/.pu
/.pu
/.pv
/.pv
/.pw
/.pw
/.px
/.px
/.py
/.py
/.pz
/.pz
/.q0
/.q0
/.q1
/.q1
/.q2
/.q2
/.q3
/.q3
/.q4
/.q4
/.q5
/.q5
/.q6
/.q6
/.q7
/.q7
/.q8
/.q8
/.q9
/.q9
/.qa
/.qa
/.qb
/.qb
/.qc
/.qc
/.qd
/.qd
/.qe
/.qe
/.qf
/.qf
/.qg
/.qg
/.qh
/.qh
/.qi
/.qi
/.qj
/.qj
/.qk
/.qk
/.ql
/.ql
/.qm
/.qm
/.qn
/.qn
/.qo
/.qo
/.qp
/.qp
/.qq
/.qq
/.qr
/.qr
/.qs
/.qs
/.qt
/.qt
/.qu
/.qu
/.qv
/.qv
/.qw
/.qw
/.qx
/.qx
/.qy
/.qy
/.qz
/.qz
/.r0
/.r0
/.r1
/.r1
/.r2
/.r2
/.r3
/.r3
/.r4
/.r4
/.r5
/.r5
/.r6
/.r6
/.r7
/.r7
/.r8
/.r8
/.r9
/.r9
/.ra
/.ra
/.rb
/.rb
/.rc
/.rc
/.rd
/.rd
/.re
/.re
/.rf
/.rf
/.rg
/.rg
/.rh
/.rh
/.ri
/.ri
/.rj
/.rj
/.rk
/.rk
/.rl
/.rl
/.rm
/.rm
/.rn
/.rn
/.ro
/.ro
/.rp
/.rp
/.rq
/.rq
/.rr
/.rr
/.rs
/.rs
/.rt
/.rt
/.ru
/.ru
/.rv
/.rv
/.rw
/.rw
/.rx
/.rx
/.ry
/.ry
/.rz
/.rz
/.s0
/.s0
/.s1
/.s1
/.s2
/.s2
/.s3
/.s3
/.s4
/.s4
/.s5
/.s5
/.s6
/.s6
/.s7
/.s7
/.s8
/.s8
/.s9
/.s9
/.sa
/.sa
/.sb
/.sb
/.sc
/.sc
/.sd
/.sd
/.se
/.se
/.sf
/.sf
/.sg
/.sg
/.sh
/.sh
/.si
/.si
/.sj
/.sj
/.sk
/.sk
/.sl
/.sl
/.sm
/.sm
/.sn
/.sn
/.so
/.so
/.sp
/.sp
/.sq
/.sq
/.sr
/.sr
/.ss
/.ss
/.st
/.st
/.su
/.su
/.sv
/.sv
/.sw
/.sw
/.sx
/.sx
/.sy
/.sy
/.sz
/.sz
/.t0
/.t0
/.t1
/.t1
/.t2
/.t2
/.t3
/.t3
/.t4
/.t4
/.t5
/.t5
/.t6
/.t6
/.t7
/.t7
/.t8
/.t8
/.t9
/.t9
/.ta
/.ta
/.tb
/.tb
/.tc
/.tc
/.td
/.td
/.te
/.te
/.tf
/.tf
/.tg
/.tg
/.th
/.th
/.ti
/.ti
/.tj
/.tj
/.tk
/.tk
/.tl
/.tl
/.tm
/.tm
/.tn
/.tn
/.to
/.to
/.tp
/.tp
/.tq
/.tq
/.tr
/.tr
/.ts
/.ts
/.tt
/.tt
/.tu
/.tu
/.tv
/.tv
/.tw
/.tw
/.tx
/.tx
/.ty
/.ty
/.tz
/.tz
/.u0
/.u0
/.u1
/.u1
/.u2
/.u2
/.u3
/.u3
/.u4
/.u4
/.u5
/.u5
/.u6
/.u6
/.u7
/.u7
/.u8
/.u8
/.u9
/.u9
/.ua
/.ua
/.ub
/.ub
/.uc
/.uc
/.ud
/.ud
/.ue
/.ue
/.uf
/.uf
/.ug
/.ug
/.uh
/.uh
/.ui
/.ui
/.uj
/.uj
/.uk
/.uk
/.ul
/.ul
/.um
/.um
/.un
/.un
/.uo
/.uo
/.up
/.up
/.uq
/.uq
/.ur
/.ur
/.us
/.us
/.ut
/.ut
/.uu
/.uu
/.uv
/.uv
/.uw
/.uw
/.ux
/.ux
/.uy
/.uy
/.uz
/.uz
/.v0
/.v0
/.v1
/.v1
/.v2
/.v2
/.v3
/.v3
/.v4
/.v4
/.v5
/.v5
/.v6
/.v6
/.v7
/.v7
/.v8
/.v8
/.v9
/.v9
/.va
/.va
/.vb
/.vb
/.vc
/.vc
/.vd
/.vd
/.ve
/.ve
/.vf
/.vf
/.vg
/.vg
/.vh
/.vh
/.vi
/.vi
/.vj
/.vj
/.vk
/.vk
/.vl
/.vl
/.vm
/.vm
/.vn
/.vn
/.vo
/.vo
/.vp
/.vp
/.vq
/.vq
/.vr
/.vr
/.vs
/.vs
/.vt
/.vt
/.vu
/.vu
/.vv
/.vv
/.vw
/.vw
/.vx
/.vx
/.vy
/.vy
/.vz
/.vz
/.w0
/.w0
/.w1
/.w1
/.w2
/.w2
/.w3
/.w3
/.w4
/.w4
/.w5
/.w5
/.w6
/.w6
/.w7
/.w7
/.w8
/.w8
/.w9
/.w9
/.wa
/.wa
/.wb
/.wb
/.wc
/.wc
/.wd
/.wd
/.we
/.we
/.wf
/.wf
/.wg
/.wg
/.wh
/.wh
/.wi
/.wi
/.wj
/.wj
/.wk
/.wk
/.wl
/.wl
/.wm
/.wm
/.wn
/.wn
/.wo
/.wo
/.wp
/.wp
/.wq
/.wq
/.wr
/.wr
/.ws
/.ws
/.wt
/.wt
/.wu
/.wu
/.wv
/.wv
/.ww
/.ww
/.wx
/.wx
/.wy
/.wy
/.wz
/.wz
/.x0
/.x0
/.x1
/.x1
/.x2
/.x2
/.x3
/.x3
/.x4
/.x4
/.x5
/.x5
/.x6
/.x6
/.x7
/.x7
/.x8
/.x8
/.x9
/.x9
/.xa
/.xa
/.xb
/.xb
/.xc
/.xc
/.xd
/.xd
/.xe
/.xe
/.xf
/.xf
/.xg
/.xg
/.xh
/.xh
/.xi
/.xi
/.xj
/.xj
/.xk
/.xk
/.xl
/.xl
/.xm
/.xm
/.xn
/.xn
/.xo
/.xo
/.xp
/.xp
/.xq
/.xq
/.xr
/.xr
/.xs
/.xs
/.xt
/.xt
/.xu
/.xu
/.xv
/.xv
/.xw
/.xw
/.xx
/.xx
/.xy
/.xy
/.xz
/.xz
/.y0
/.y0
/.y1
/.y1
/.y2
/.y2
/.y3
/.y3
/.y4
/.y4
/.y5
/.y5
/.y6
/.y6
/.y7
/.y7
/.y8
/.y8
/.y9
/.y9
/.ya
/.ya
/.yb
/.yb
/.yc
/.yc
/.yd
/.yd
/.ye
/.ye
/.yf
/.yf
/.yg
/.yg
/.yh
/.yh
/.yi
/.yi
/.yj
/.yj
/.yk
/.yk
/.yl
/.yl
/.ym
/.ym
/.yn
/.yn
/.yo
/.yo
/.yp
/.yp
/.yq
/.yq
/.yr
/.yr
/.ys
/.ys
/.yt
/.yt
/.yu
/.yu
/.yv
/.yv
/.yw
/.yw
/.yx
/.yx
/.yy
/.yy
/.yz
/.yz
/.z0
/.z0
/.z1
/.z1
/.z2
/.z2
/.z3
/.z3
/.z4
/.z4
/.z5
/.z5
/.z6
/.z6
/.z7
/.z7
/.z8
/.z8
/.z9
/.z9
/.za
/.za
/.zb
/.zb
/.zc
/.zc
/.zd
/.zd
/.ze
/.ze
/.zf
/.zf
/.zg
/.zg
/.zh
/.zh
/.zi
/.zi
/.zj
/.zj
/.zk
/.zk
/.zl
/.zl
/.zm
/.zm
/.zn
/.zn
/.zo
/.zo
/.zp
/.zp
/.zq
/.zq
/.zr
/.zr
/.zs
/.zs
/.zt
/.zt
/.zu
/.zu
/.zv
/.zv
/.zw
/.zw
/.zx
/.zx
/.zy
/.zy
/.zz
/.zz
/.0
/.0
/.1
/.1
/.2
/.2
/.3
/.3
/.4
/.4
/.5
/.5
/.6
/.6
/.7
/.7
/.8
/.8
/.9
/.9
/.a
/.a
/.b
/.b
/.c
/.c
/.d
/.d
/.e
/.e
/.f
/.f
/.g
/.g
/.h
/.h
/.i
/.i
/.j
/.j
/.k
/.k
/.l
/.l
/.m
/.m
/.n
/.n
/.o
/.o
/.p
/.p
/.q
/.q
/.r
/.r
/.s
/.s
/.t
/.t
/.u
/.u
/.v
/.v
/.w
/.w
/.x
/.x
/.y
/.y
/.z
/.z

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts